<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Students database</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
</head>
<body>
	<div class="container">
      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Students</h1>

			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Passport</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				    <tr th:each="student : ${students}">
				    	<td th:text="${student.name}"></td>
						<td th:text="${student.passport}"></td>
				    	<td>
					    	<a th:href="@{/student/{id}(id=${student.id})}">update</a>
				    	</td>
						<td>
							<a th:href="@{/student/{id}/delete(id=${student.id})}">delete</a>
						</td>
				    </tr>
				</tbody>
			</table>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-7 col-sm-6">
            <h1>Add a student</h1>

			<form th:action="@{/students}" method="post" enctype="multipart/form-data" class="form-horizontal">
            	<fieldset>
            		<div class="form-group">
	                    <label class="col-lg-3 control-label">Name</label>
	                    <div class="col-lg-9">
	                    	<input type="text" class="form-control" name="name"/>
	                    </div>
                	</div>
            		<div class="form-group">
	                    <label class="col-lg-3 control-label">Passport</label>
	                    <div class="col-lg-9">
	                    	<input type="text" class="form-control" name="passport"/>
	                    </div>
                	</div>
            		<div class="form-group">
                		<div class="col-lg-12 col-lg-offset-3">
                			<button type="submit" class="btn btn-primary" name="button">Create</button>
                		</div>
                	</div>
                </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
